// *
// * Erdmann & Freunde - Nutshell
// * BASE Contao Framework
// * erdmann-freunde.de/nutshell/
// *
// * Lizenziert unter MIT OPEN SOURCE 
// *
  
//
// VARIABLES
// --------------------------------------------------

// General Colors

html {
  --color-default:            #ff5636;
  --color-gray-dark:          #222;
  --color-gray:               #555;
  --color-gray-light:         #ccc;
  
  --color-brand:              var(--color-default);
  --color-highlight:          var(--color-brand);
  
  // Page
  --color-page-background:    #fff;
  --color-text:               var(--color-gray-dark);
  --color-text--inverted:     var(--color-page-background);
  
  // Links
  --color-links:              var(--color-highlight);
  
  // Buttons
  --color-btn:                var(--color-links);
  --color-btn-text:           var(--color-text--inverted);
  
  // Fonts
  --base-font-size--xs:       0.875rem;
  --base-font-size:           1rem;
  --base-font-size--xl:       1.125rem;
  
  --base-line-height:         1.625;
  --base-font-weight:         400;
  
  --base-font-family:         -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Helvetica Neue", Arial, sans-serif;
  
  // Base Spacing Units
  --base-spacing-unit: 1rem;
  
  --base-spacing-unit--xs:    calc(var(--base-spacing-unit) / 4);
  --base-spacing-unit--sm:    calc(var(--base-spacing-unit) / 2);
  
  --base-spacing-unit--lg:    calc(var(--base-spacing-unit) * 2);
  --base-spacing-unit--xl:    calc(var(--base-spacing-unit) * 4);
  
  // Border
  --base-border-radius:       4px;
  --base-border-width:        1px;
  --base-border-color:        var(--color-gray-light);
  
  --base-border:              var(--base-border-width) solid var(--base-border-color);

  //MIXINS
  // MIXINS/GENERAL
  $grid__columns: 12;


  // BASE
  // BASE/GRID
  --grid__columns:       12;
  --grid__gutter:        1.875rem; // 30px
  --grid__gutter--half:  calc(var(--grid__gutter) / 2);

  // BASE/LAYOUT
  --header-color-background:   var(--color-page-background);
  --header-color-text:         var(--color-text);

  // BASE/TYPE
  --headings__font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Helvetica Neue", Arial, sans-serif;
  --headings__font-weight: 700;
  --headings__color: 'currentColor';
  --paragraph__link-color: var(--color-links);
  --code__color: var(--color-highlight);
  --selection-background: var(--color-brand);
  --pre__color-background: var(--color-gray);
  --pre__color: var(--color-text--inverted);
  --selection-color: var(--color-text--inverted);
  --hr-border: var(--base-border);
  --paragraph__link-decoration: underline;
  --paragraph__link-decoration--hover: none;

  $headlines: (
    h1: (
      sizes: (
        xs: 2.0rem,
        sm: 2.0rem,
        md: 2.25rem,
        lg: 2.25rem,
        xl: 2.25rem
      ),
      line-height: 1.55,
      margin-top: 2rem,
      margin-bottom: 0.5rem
    ),
    h2: (
      sizes: (
        xs: 1.625rem,
        sm: 1.625rem,
        md: 1.750rem,
        lg: 1.750rem,
        xl: 1.750rem
      ),
      line-height: 1.5,
      margin-top: 2rem,
      margin-bottom: 0.5rem
    ),
    h3: (
      sizes: (
        xs: 1.375rem,
        sm: 1.375rem,
        md: 1.500rem,
        lg: 1.500rem,
        xl: 1.500rem
      ),
      line-height: 1.25,
      margin-top: 2rem,
      margin-bottom: 0.5rem
    ),
    h4: (
      sizes: (
        xs: 1.125rem,
        sm: 1.125rem,
        md: 1.250rem,
        lg: 1.250rem,
        xl: 1.250rem
      ),
      line-height: 1,
      margin-top: 1.5rem,
      margin-bottom: 0.5rem
    ),
    h5: (
      sizes: (
        xs: 1rem,
        sm: 1rem,
        md: 1rem,
        lg: 1rem,
        xl: 1rem
      ),
      line-height: 1,
      margin-top: 1.5rem,
      margin-bottom: 0.5rem
    ),
    h6: (
      sizes: (
        xs: 0.875rem,
        sm: 0.875rem,
        md: 0.875rem,
        lg: 0.875rem,
        xl: 0.875rem
      ),
      line-height: 1,
      margin-top: 1.5rem,
      margin-bottom: 0.5rem
    ),
  ) !default;
}
