// *
// * Erdmann & Freunde - Nutshell
// * BASE Contao Framework
// * erdmann-freunde.de/nutshell/
// *
// * Lizenziert unter MIT OPEN SOURCE 
// *

//
// COMPONENTS/ACCORDION
// --------------------------------------------------

// default accordion
.ce_accordion {
  margin-bottom: var(--toggler-spacing);

  .toggler {
    font-size: var(--toggler-font-size);    
    cursor: pointer;
    background: var(--toggler-background);
    color: var(--toggler-color);
    padding: var(--accordion-padding);
    border: var(--toggler-border);
    
    &:hover {
      color: var(--toggler-color-hover);
    }
    
    &:focus {
      outline: 0;
    }
  }
  
  .accordion {
    padding: var(--accordion-padding);
    background: var(--accordion-background);
    overflow: hidden;
  }
}
