// *
// * Erdmann & Freunde - Nutshell
// * BASE Contao Framework
// * erdmann-freunde.de/nutshell/
// *
// * Lizenziert unter MIT OPEN SOURCE
// *

//
// COMPONENTS/ACCORDION
// --------------------------------------------------

// default accordion
.ce_accordion {
  margin-bottom: var(--accordion-toggler-spacing);

  .toggler {
    font-size: var(--accordion-toggler-font-size);
    cursor: pointer;
    background: var(--accordion-toggler-background);
    color: var(--accordion-toggler-color);
    padding: var(--accordion-toggler-spacing);
    border: var(--accordion-toggler-border);

    &:hover {
      color: var(--accordion-toggler-color-hover);
    }

    &:focus {
      outline: 0;
    }
  }

  .accordion {
    padding: var(--accordion-content-spacing);
    background: var(--accordion-content-background);
    overflow: hidden;
  }
}
