// *
// * Erdmann & Freunde - Nutshell
// * BASE Contao Framework
// * erdmann-freunde.de/nutshell/
// *
// * Lizenziert unter MIT OPEN SOURCE
// *

//
// COMPONENTS/ACCORDION
// --------------------------------------------------

// jQuery and handorgel accordion
.ce_accordion {
  margin-bottom: var(--accordion-spacing);

  &:not(.handorgel) {
    .toggler {
      font-size: var(--accordion-toggler-font-size);
      cursor: pointer;
      background: var(--accordion-toggler-background);
      color: var(--accordion-toggler-color);
      padding: var(--accordion-toggler-spacing);
      border: var(--accordion-toggler-border);

      &:hover {
        color: var(--accordion-toggler-color-hover);
      }

      &:focus {
        outline: 0;
      }
    }
  }

  &.handorgel {
    .toggler {
      button {
        display: flex;
        width: 100%;
        appearance: none;
        font-size: var(--accordion-toggler-font-size);
        cursor: pointer;
        background: var(--accordion-toggler-background);
        color: var(--accordion-toggler-color);
        padding: var(--accordion-toggler-spacing);
        border: var(--accordion-toggler-border);

        &:hover {
          color: var(--accordion-toggler-color-hover);
        }

        &:focus {
          outline: 0;
        }
      }
    }
  }

  .accordion {
    background: var(--accordion-content-background);
    overflow: hidden;

    > div {
      padding: var(--accordion-content-spacing);
    }
  }
}
