// *
// * Erdmann & Freunde - Nutshell
// * BASE Contao Framework
// * erdmann-freunde.de/nutshell/
// *
// * Lizenziert unter MIT OPEN SOURCE 
// *

//
// COMPONENTS/DOWNLOADS
// --------------------------------------------------

.ce_download,
.ce_downloads {
  margin-bottom: 1rem;
  
  .mime_icon {
    display: inline-block;
    vertical-align: middle;
  }
  
  a {
    display: inline-block;
    color: var(--download-link-color);
    text-decoration: var(--download-link-decoration);
    
  }
}

.ce_downloads {
  @include navigation;
}
