// *
// * Erdmann & Freunde - Nutshell
// * BASE Contao Framework
// * erdmann-freunde.de/nutshell/
// *
// * Lizenziert unter MIT OPEN SOURCE
// *

//
// COMPONENTS/EVENTS
// --------------------------------------------------

// event list
// [1] call every headline element (h1-h6)
// [2] headline for FE-Module
.events-list {
  margin-bottom: var(--base-spacing-unit);

  > {
    #{headings()} { // [1]
      margin-bottom: 0;
    }
  }

  .image_container {
    margin-top: var(--base-spacing-unit);
    margin-bottom: var(--base-spacing-unit);
  }

  .float_left {
    margin-right: var(--base-spacing-unit);
  }

  .float_right {
    margin-left: var(--base-spacing-unit);
  }

  .event {

    > {
      #{headings()} { // [1]
        margin-top: var(--base-spacing-unit);
      }
    }
  }

  .layout_upcoming {
    time,
    a {
      padding-top: var(--base-spacing-unit);
      display: inline-block;
    }
  }

  .header {
    margin-top: var(--base-spacing-unit);
  }
}

.events-grid {
  display: grid;
  grid-gap: var(--grid-gutter);
  margin-bottom: var(--base-spacing-unit);

  @include media-query(screen-sm) {
    grid-template-columns: repeat(var(--events-grid-columns-sm), 1fr);
  }

  @include media-query(screen-md) {
    grid-template-columns: repeat(var(--events-grid-columns-md), 1fr);
  }

  @include media-query(screen-lg) {
    grid-template-columns: repeat(var(--events-grid-columns-lg), 1fr);
  }

  @include media-query(screen-xl) {
    grid-template-columns: repeat(var(--events-grid-columns-xl), 1fr);
  }
}


// [2] add border-top to the first element after headline
.events-menu {
  @include navigation();

  .year {
    margin-bottom: var(--base-spacing-unit-sm);

     > a,
     > .active {
      color: inherit;
      font-weight: var(--headings-font-weight);
      font-family: var(--headings-font-family);
    }
  }

  .level_2 li {
    margin-bottom: var(--base-spacing-unit-xs);
  }
}
