// *
// * Erdmann & Freunde - Nutshell
// * BASE Contao Framework
// * erdmann-freunde.de/nutshell/
// *
// * Lizenziert unter MIT OPEN SOURCE
// *

//
// COMPONENTS/FORMS
// --------------------------------------------------


// VARIABLES
$set-select-height: false;

html {
  --input-border-width:    var(--base-border-width);
  --input-border-radius:   var(--base-border-radius);
  --input-border-color:    rgba(0,0,0,0.25);

  --mandatory--color: var(--color-brand);
}

// USED FROM _variables.scss

// --------------------------------------------------

// [1] reset for FF and Chrome, coming with a min-width
// [2] force IE8 to wrap long content
// [3] create half-transparent borders (otherwise you have a half-transparent border using the input background color)
// [4] reset height
// [5] disable mobile safari make it a search field with different border-radius and size
// [6] reset unusual Firefox-on-Android default style
// [7] make sure, the whole input is visible (chrome)
// [8] bring button-text and file-name on same base-line in Chrome
// [11] space between checkbox/radio + label, when inline
// [10] make sure select and inputs have the same height
// calculation: ((1rem for text + base-spacing-unit for padding) * 1.2 normal line-height) - 2px for border

fieldset {
  padding: 0;
  margin: 0;
  border: 0;
  min-width: 0; // [1]
}

label {
  display: inline-block;
  max-width: 100%; // [2]
  margin-bottom: var(--base-spacing-unit--xs);
}

input.text,
input.captcha,
textarea.textarea,
select.select {
  display: block;
  width: 100%;
  padding: var(--base-spacing-unit--sm) var(--base-spacing-unit--sm);
  border-radius: var(--input-border-radius);
  border: var(--input-border-width) solid var(--input-border-color);
  background-clip: padding-box; // [3]
  background-image: none; // [6]
  line-height: normal;
}

@if($set-select-height==true) {
  select.select {
    height: calc(((1rem + var(--base-spacing-unit)) * 1.2) - 2px); // [10]
  }
}

textarea.textarea {
  height: auto; // [4]
}

.widget-text,
.widget-textarea,
.widget-password {
  margin-bottom: var(--base-spacing-unit);
}

input.submit,
button.submit {
  @extend %button;
  @extend %button--primary;
}

input[type="search"] {
  appearance: none; // [5]
}

input[type="file"] {
  display: block;
  line-height: 1; // [8]
}

// Checkboxes and radios
input.radio,
input.checkbox {
  margin-left: 1px; // [7]
  margin-right: var(--base-spacing-unit--xs);
  line-height: var(--base-line-height);
  vertical-align: middle;

  + label {
    margin-right: var(--base-spacing-unit--xs); // [11]
    margin-bottom: 0;
    font-weight: normal;
  }
}

.widget-radio,
.widget-checkbox,
.widget-select,
.widget-upload {
  margin-bottom: var(--base-spacing-unit);

  legend {
    font-weight: 700;
  }
}

.radio_container,
.checkbox_container {
   > span {
  	display: inline-flex;
  	align-items: center;
  }
}

// Mandatory & Error-Styling
// asterisk at mandatory fields
span.mandatory {
  color: var(--mandatory-color);
}

// error-text
p.error {
  margin-bottom: 0;
}
