// *
// * Erdmann & Freunde - Nutshell
// * BASE Contao Framework
// * erdmann-freunde.de/nutshell/
// *
// * Lizenziert unter MIT OPEN SOURCE
// *

//
// COMPONENTS/NEWS
// --------------------------------------------------

// news list
// [1] call every headline element (h1-h6)
// [2] headline for FE-Module
.news-list {
  margin-bottom: var(--base-spacing-unit);

  > {
    #{headings()} {
      margin-bottom: 0;
    }
  }

  .info {
    margin-bottom: 0;
  }

  .float_left {
    margin-right: var(--base-spacing-unit);
  }

  .float_right {
    margin-left: var(--base-spacing-unit);
  }

  .layout_short,
  .layout_latest,
  .layout_simple {

    > {
      #{headings()} {
        margin-top: var(--base-spacing-unit);
      }
    }
  }

  .layout_simple,
  .layout_upcoming {
    time,
    a {
      padding-top: var(--base-spacing-unit);
      display: inline-block;
    }
  }

  .header {
    margin-top: var(--base-spacing-unit);
  }
}

.news-grid {
  display: grid;
  grid-gap: var(--grid-gutter);
  margin-bottom: var(--base-spacing-unit);

  @include media-query(screen-sm) {
    grid-template-columns: repeat(var(--news-grid-columns-sm), 1fr);
  }

  @include media-query(screen-md) {
    grid-template-columns: repeat(var(--news-grid-columns-md), 1fr);
  }

  @include media-query(screen-lg) {
    grid-template-columns: repeat(var(--news-grid-columns-lg), 1fr);
  }

  @include media-query(screen-xl) {
    grid-template-columns: repeat(var(--news-grid-columns-xl), 1fr);
  }

  margin-bottom: var(--base-spacing-unit);

  > {
    #{headings()} {
      grid-column: 1 / -1;
    }
  }

  .layout_short,
  .layout_latest,
  .layout_simple {
    @include column-floating;
  }

  .layout_simple {
    time {
      display: block;
    }
  }
}

.news-menu {
  @include navigation();

  .year {
    margin-bottom: var(--base-spacing-unit-sm);

     > a,
     > .active {
      color: inherit;
      font-weight: var(--headings-font-weight);
      font-family: var(--headings-font-family);
    }
  }

  .level_2 li {
    margin-bottom: var(--base-spacing-unit-xs);
  }
}
