// *
// * Erdmann & Freunde - Nutshell
// * BASE Contao Framework
// * erdmann-freunde.de/nutshell/
// *
// * Lizenziert unter MIT OPEN SOURCE
// *

//
// BASE/ARTICLE
// --------------------------------------------------

// [1] make sure object-fit-images always show up
.mod_article {
  position: relative; // [1]

  > .inside {
    @include wrapper-max;
    @include padding-default;

    padding-top: var(--article-spacing-top);
    padding-bottom: var(--article-spacing-bottom);
  }
}

.article--full {
  > .inside {
    @include wrapper-max(none);

    padding-top: 0;
    padding-bottom: 0;
  }
}
