// *
// * Erdmann & Freunde - Nutshell
// * BASE Contao Framework
// * erdmann-freunde.de/nutshell/
// *
// * Lizenziert unter MIT OPEN SOURCE
// *

//
// BASE/GRID
// --------------------------------------------------

// general row-class
.row {
  display: grid;
  grid-template-columns: repeat(var(--grid-columns), minmax(0, 1fr));
  column-gap: var(--grid-gutter);
  grid-auto-columns: 1fr;
}

.row--gap-y {
  row-gap: var(--grid-gutter);
}

// column default floating
%column-floating {
  display: grid;
  grid-column: 1 / -1;
  max-width: 100%;
}

.col {
  grid-column: 1 / -1;
}

// [1] length($breakpoints) - go through length of available viewports (xs, sm, md, lg, xl == 5)
// [2] $current - actual viewport (e.g. "xs")
// [3] $i - counter, returns the actual grid-column
// [4] $grid-columns - go through available columns (e.g. 1 --> 12)
// [3][4]
@for $i from 1 through $grid-columns {
  // [2][3]
  .col-#{$i} {
    grid-column: span $i / span $i;
  }

  // [2][3]
  .row-start-#{$i} {
    grid-row-start: $i;
  }

  // [2][3]
  .row-span-#{$i} {
    grid-row: span $i / span $i;
  }
}

// [1]
@for $size from 1 through length($breakpoints) {
  $x: nth($breakpoints, $size); // [2]
  $current: nth($x, 1); // [2]

  // column creation
  // [3][4]
  @for $i from 1 through $grid-columns {
    // [2][3]
    .col-#{$current}-#{$i} {
      @extend %column-floating;
    }
  }

  // width creation for every col- class
  // [2]
  @include media-query(screen-#{$current}) {
    // [3][4]
    @for $i from 1 through $grid-columns {
      // [2][3]
      .col-#{$current}-#{$i} {
        grid-column: span $i / span $i;
      }
    }
  }

  // height creation for every row-span- class
  // [2]
  @include media-query(screen-#{$current}) {
    // [3][4]
    @for $i from 1 through $grid-columns {
      // [2][3]
      .row-span-#{$current}-#{$i} {
        grid-row: span $i / span $i;
      }
    }
  }

  // .col-start and .row-start creation
  // [2]
  @include media-query(screen-#{$current}) {
    // [3]
    @for $i from 1 through $grid-columns {
      // [2][3]
      .col-start-#{$current}-#{$i} {
        grid-column-start: $i;
      }
      // [2][3]
      .row-start-#{$current}-#{$i} {
        grid-row-start: $i;
      }
    }
  }

  //pull-left & -right creation
  // [2]
  @include media-query(screen-#{$current}) {
    // [2]
    .pull-right-#{$current} {
      grid-column-end: -1;
    }

    // [2]
    .pull-left-#{$current} {
      grid-row-start: 1;
      grid-column-end: inherit;
    }
  }
}

// classes for alignment
// [1] length($breakpoints) - go through length of available viewports (xs, sm, md, lg, xl == 5)
// [2] $current - actual viewport (e.g. "xs")
// [3] $i - counter, returns the actual grid-column
// [4] $grid-columns - go through available columns (e.g. 1 --> 12)
.justify-start {
  justify-self: start;
  text-align: left;
}

.justify-center {
  justify-self: center;
  text-align: center;
}

.justify-end {
  justify-self: end;
  text-align: right;
}

// [1]
@for $size from 1 through length($breakpoints) {
  $x: nth($breakpoints, $size); // [2]
  $current: nth($x, 1); // [2]

  // width creation for every col- class
  // [2]
  @include media-query(screen-#{$current}) {
    // [2][3]
    .justify-#{$current}-start {
      justify-self: start;
      text-align: left;
    }

    // [2][3]
    .justify-#{$current}-center {
      justify-self: center;
      text-align: center;
    }

    // [2][3]
    .justify-#{$current}-end {
      justify-self: end;
      text-align: right;
    }
  }
}

// [2][3]
.align-start {
  align-self: start;
}

// [2][3]
.align-center {
  align-self: center;
}

// [2][3]
.align-end {
  align-self: end;
}

// [1]
@for $size from 1 through length($breakpoints) {
  $x: nth($breakpoints, $size); // [2]
  $current: nth($x, 1); // [2]

  // width creation for every col- class
  // [2]
  @include media-query(screen-#{$current}) {
    // [2][3]
    .align-#{$current}-start {
      align-self: start;
    }

    // [2][3]
    .align-#{$current}-center {
      align-self: center;
    }

    // [2][3]
    .align-#{$current}-end {
      align-self: end;
    }
  }
}
