// *
// * Erdmann & Freunde - Nutshell
// * BASE Contao Framework
// * erdmann-freunde.de/nutshell/
// *
// * Lizenziert unter MIT OPEN SOURCE
// *

//
// BASE/TYPE
// --------------------------------------------------

// Headings 1–6.
#{headings()} { // [1]
  font-weight: var(--headings-font-weight);
  font-family: var(--headings-font-family);
  color: var(--headings-color);
}

// H1 — h6: Generate Element Styles from config
// [1] more space between last text-element and new headline
// [2] combined headlines - example: h1 + h2
// [3] correct margin-top for headlines, when in a new content element
// [4] ex: h1 + h2
// [5] base font size
// [6] loop through all viewports and add font-size for every viewport

$headings: 6;
@for $i from 1 through $headings { // [3][4]
  %_h#{$i} {
    font-size: var(--h#{$i}-fs);
    line-height: var(--h#{$i}-lh);
    //margin-top: var(--h#{$i}-mt);
    margin-bottom: var(--h#{$i}-mb);

    @for $size from 2 through length($breakpoints) { // [1]
      $x:   nth($breakpoints, $size); // [2]
      $current:   nth($x, 1); // [2]
      $viewport: nth($current, 1);

      @include media-query(screen-#{$viewport}) {
        --h#{$i}-fs: var(--h#{$i}-fs-#{$current});
      }
    }
  }

  h#{$i},
  .heading--#{$i} {
    @extend %_h#{$i};
  }
}

// Paragraph, Lists
p,
ul,
ol {
  margin-top: 0;

  a {
    text-decoration: var(--paragraph__link-decoration);

    &:hover {
      --paragraph__link-decoration: var(--paragraph__link-decoration--hover);
    }
  }

  &:last-child {
    margin-bottom: 0;
  }
}

// Code
code {
  color: var(--code__color);
}

pre {
  padding: 1rem;
  background: var(--pre__color-background);
  color: var(--pre__color);
  overflow-x: scroll;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: var(--hr-border);
}

// list-item with more than one line of text should have additional space to the following list-item
.li--block {
  margin-bottom: 1rem;
}

.ce_text {
  margin-bottom: var(--base-spacing-unit);
}

::selection {
  background: var(--selection-background);
  color: var(--selection-color);
  opacity: 1;
}
